<table>
	<tr>
		<td>Event Type</td>
		<td>Site ID</td>
		<td>Site Visit Day</td>
		<td>Site Delay in Hours </td>
	</tr>
	<tr>
		<td> Site Activity Report </td>
		<td> <%=activityReport['siteId']%> </td>
		<td><%= render partial: "layouts/show_date", locals: {year:  activityReport['siteVisitDay(1i)'], month:  activityReport['siteVisitDay(2i)'] , day: activityReport['siteVisitDay(3i)'] } %> </td>
		<td> <%=activityReport['siteDelay']%> </td>
		<td> <%= link_to 'see full report', controller: 'log_entry', action: 'show_full_activity_report', id: activityReport['_id'] %> </td>
	</tr>
</table>

