<div style="float:left; ">
	<%= form_for :todolist, url: {controller: 'todolist', action: 'create'} do |f| %>
	
		Todo List Name<br>
		<%= f.text_field "todolist name", class: 'textField' %><br><br><br>
		<hr>
	 	
		Tasks: <br>
		<% for i in 1 .. 10 %>
			<%= f.text_field "[tasks][#{i}]", class: 'textField' %><br><br>
		<% end %>
		
	
		<%= f.submit "Add More Tasks" %>
		
	<% end %>

</div>