<table>
	<tr>
		<td>
			Name
		</td>
		<td>
			Email
		</td>
		<td>
			Role
		</td>
	</tr>
	
	<tr>
		<td>
			<%= person['name'] %>
		</td>
		<td>
			<%= person['email'] %>
		</td>
		<td>
			<%= person['role'] %>
		</td>
		<td>
			<%= link_to 'Delete', {action: 'destroy', id: person['_id']}, {method: :delete, data: 'sure?'} %>
		</td>
		
	</tr>
</table>
	