<%#= @persons %>

<%= render :partial => "new"%>

<%if !@persons.nil? %>
<h1>All People:</h1>
	<% for entry in @persons %>
	    <%= render partial: 'show', locals: {person: entry} %> <br>
	<% end %>
<%end%>