<%#= entry %>

<div style="width:1200px; float:left;">


	<div style="width:1200px; float:left;">

		<div class='wSmall'>
			<b> Project Type </b>
		</div>
		

		<div class='wSmall'>
			<b> Created At </b>
		</div>

	</div>


	<div style="width:1200px; float:left;">
		
		<div style="width:600px;">
			<hr style="margin:0px;">
		</div>
		
		<div class='wSmall'>
				<%= entry['projectTypeName'] %>
		</div>
		
		<div class='wSmall'>
				<%= entry['createdAt'] %>
		</div>
		
		<div class='wSmall'>
			<%= link_to 'Delete', {action: 'destroy', id: entry['_id']}, {method: :delete, data: { confirm: "Are you sure?" }} %>
		</div>

	</div>
	
</div>

