<%#= milestone %>
<h2> Milestone Files </h2>
<%if  milestone.has_key? 'files'%>
	<% milestone['files'].each do |key, val|%>
		<%=link_to val['fileName'], "/uploads/#{@project['projId3s']}__#{@project['_id']}/#{val['fileName']}"%><br>
		<hr>
	<% end %>
	<%#=link_to 'See Milestone Files' %>
<% end %>