<div style='width:1440px;'>
	<% if true or get_current_user['role'] == 'admin'%>
		<%= link_to 'Add Project', {controller: 'project', action: 'new'}, {style: "color:blue;"} %>  	<%#= link_to 'Search Projects', {controller: 'project', action: 'newSearch', id:'dummy'}, {style: "color:blue;"} %>  <%# TODO put back in for erricson mode = link_to 'Search Work Orders', {controller: 'work_order', action: 'newSearch', id:'dummy'}, {style: "color:blue;"} %> 
	<% end %>


	<h1><%#= @customerInMode.capitalize %> Projects List:</h1>
	<%if !@projects.nil? %>
		<%if !@projects.empty? %>
		
			<%shadedBg = false;%>
			<% for entry in @projects %>
				
				<%if shadedBg%>
					<div style="background-color:beige; padding:0px;">
				<%end%>
			    <%= render partial: 'show', locals: {project: entry} %> <br>
				<%if shadedBg%>
					</div>
					<%shadedBg=false%>
				<%else%>
					<%shadedBg=true%>
				<%end%>

			<% end %>
		<% else %>
			<br>
			No projects in database
		<% end %>
	<%end%>
</div>