
<%= link_to 'Parent Project', {controller: 'project', action: 'show', id: @project['_id']}%> <br>
<%= link_to 'New Order', {controller: 'project', action: 'newSprintOrder', id: @project['_id']}%>
<br>
<div>
	<h2> <a id="milestones">Project Orders</a> </h2>
</div>
<% if @project.has_key? 'orders' and not @project['orders'].nil?%>
	<% i = -1 %>
	<% @project['orders'].each do |orderId3sn, vals| %>
	
		<br> 
		<% if i > 0 %>
			<%= render partial: 'sprintOrder', locals: {project: @project, orderId3sn: orderId3sn, background_color: "white" } %>
		<% else %>
			<%= render partial: 'sprintOrder', locals: {project: @project, orderId3sn: orderId3sn, background_color: "beige" } %>
		<% end %>
		<% i = -1 * i %>
		
	<% end %>
<% else %>
	<br><br>No orders for this project yet
<% end %>