<div style='width:1440px;'>
	<%= link_to 'Add Project', {controller: 'project', action: 'new'}, {style: "color:blue;"} %>


	<%if !@projects.nil? %>
		<%if !@projects.empty? %>
			<h1>All Projects:</h1>
			<%shadedBg = false;%>
			<% for entry in @projects %>
				
				<%if shadedBg%>
					<div style="background-color:beige; padding:0px;">
				<%end%>
			    <%= render partial: 'show', locals: {project: entry} %> <br>
				<%if shadedBg%>
					</div>
					<%shadedBg=false%>
				<%else%>
					<%shadedBg=true%>
				<%end%>

			<% end %>
		<% else %>
			<br>
			No projects in database
		<% end %>
	<%end%>
</div>