<div>

	<div style = "width:300px; float:left;">
	
	
		<p>
			CPO Number: <br>
			<%= @cpo['cpoNum']%>
		</p>
	
		<p>
			Created At: <br>
			<%= @cpo['createdAt']%>
		</p>
		
		<p>
			Created By: <br>
			<%= getPersonEmail @cpo['createdBy']%>
		</p>
		
		
	</div>
</div>