<table>
	<tr>
		<td>Site ID</td>
		<td>Base Package</td>
		<td>Crew</td>
	</tr>
	<tr>
		<td><%= site['siteId']%></td>
		<td><%= site['basePackage']%></td>
		<td><%= site['crew']%></td>
	</tr>
</table>