<% if true or get_current_user['role'] == 'admin'%>
	<%= render :partial => "new"%>
<% end %>

<%#= @allSites %>
<%#= link_to "Submit an Activity Report for a site not assigned to you", { controller:'log_entry', action: 'new_activity_report', id: 'dummy'}%>

<%if !@allSites.nil? %>
	<h1>Your Sites:</h1>
	<% for entry in @allSites %>
	    <%= render partial: "show", locals: {site: entry} %> <br>
	<% end %>
<%else%>
	no sites have been entered into system <br>
	<%= link_to 'Enter Some Sites', :controller => 'site', :action => 'new'%>
<%end%>
