<%#= cr %>

<div style="width:1200px; float:left;">


	<div style="width:1200px; float:left;">

		<div class='wSmall'>
			<b> CR Id </b>
		</div>
		

		<div class='wSmall'>
			<b> 3S PM Acceptance </b>
		</div>

	</div>


	<div style="width:1200px; float:left;">
		<div style="width:600px;">
			<hr style="margin:0px;">
		</div>
		<div class='wSmall'>
			<% if cr['cr3sid'].nil?%>
				<%= link_to cr['_id'], {controller: 'change_request', action: 'show', id: cr['_id']}%>
			<% else %>
				<%= link_to cr['cr3sid'], {controller: 'change_request', action: 'show', id: cr['_id']}%>
			<% end %>
		</div>
		
		<div class='wSmall'>
			<% if cr.has_key? 'pm3sGrant'%>
				<% if (printReplaceEmpty(cr['pm3sGrant']['status']) == "granted") %>
					<%= "Accepted" %>
				<% else %>
					<%= "Pending" %>
				<% end %>
			<% else %>
				Pending
			<% end %>
		</div>
	
	</div>
	
</div>