<%#= entry %>

<div style="width:1200px; float:left;">


	<div style="width:1200px; float:left;">

		<div class='wSmall'>
			<b> Customer Name </b>
		</div>
		

		<div class='wSmall'>
			<b> Created At </b>
		</div>

	</div>


	<div style="width:1200px; float:left;">
		
		<div style="width:600px;">
			<hr style="margin:0px;">
		</div>
		
		<div class='wSmall'>
				<%= entry['customerName'] %>
		</div>
		
		<div class='wSmall'>
				<%= entry['createdAt'] %>
		</div>
		
	</div>
	
</div>

