
Please enter any comment, feature request or ideas to improve the tool here.<br>

Thanks for you feedback.

<%= form_for :feedback, url: '/feedback' do |f| %>
<p>
	<%= f.label :Commend, "Comments" %><br>
	<%= f.text_area 'feedback', style:'width:400px; height:400px;' %><br>
	
	
	<p>
    	<%= f.submit "Submit" %>
  	</p>
	
</p>
	
<% end %>